html,body{
   margin: 0px;
   padding: 0px;
}

.landingpage{
   background: linear-gradient(to top, rgba(69, 7, 97, 0.7),white, rgba(69, 7, 97, 0.7));
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.btn{
   display: flex;
   justify-content: space-evenly;
   padding: 40px 0px;
   position: relative;
   left: 65px;
}

.selectLoginType{
   position: relative;
   top: 150px;
   margin: auto;
   background: linear-gradient(to bottom, rgb(75, 0, 130,0.697),white);
   width: 50%;
   padding: 50px 0px;
   border: 2px solid black;
   border-radius: 20px;
}

.selectLoginType h1{
   margin: 0px;
   padding-bottom: 20px;
   border-bottom: 1px solid black;
   margin: 0px 30px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selectLoginType img{
   height: 120px;
   width: 120px;
   border-radius: 60px;
}

.selectLoginType a{
   text-decoration: none;
   color: black;
   border: 1px solid black;
   border-radius: 20px;
   padding: 5px 20px;
}

.selectLoginType a:hover{
   background-color: rgb(100, 61, 128);
   color: whitesmoke;
}

.admin a{
   position: relative;
   top: 56px;
   right: 130px;
}

.user a{
   position: relative;
   top: 56px;
   right: 118px;
}

.form_input label{
position: relative;
right: 169px;
}